<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
">

    <!--  scope设置是否开启单例，默认为单例  -->
    <bean id="bookDao" class="com.learn.dao.impl.BookDaoImpl" scope="prototype">
        <property name="dataBaseName" value="mysql数据库"/>
        <property name="totalCount" value="10000"/>
    </bean>

    <bean id="bookService" class="com.learn.service.impl.BookServiceImpl">
        <!-- property标签用于给对象的属性赋值，name表示要赋值的属性名称，ref表示被引用的bean -->
<!--        <property name="bookDao" ref="bookDao"/>-->
        <constructor-arg name="bookDao" ref="bookDao"/>
    </bean>

<!--    <bean id="userFactory" class="com.learn.factory.UserDaoFactory" />-->

<!--    <bean id="userDao" factory-bean="userFactory" factory-method="getUserDao"/>-->
    <bean id="userDao" class="com.learn.factory.UserDaoFactoryBean"/>

    <context:property-placeholder location="classpath*:*.properties" system-properties-mode="NEVER"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

<!--    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">-->
<!--        <property name="driverClass" value="com.mysql.jdbc.Driver"/>-->
<!--        <property name="jdbcUrl" value="https://yoursigh.top:3306"/>-->
<!--        <property name="user" value="music"/>-->
<!--        <property name="password" value="1325285734lj"/>-->
<!--    </bean>-->
</beans>